<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

  <script>

  <% if (data.prefLabel) { %>

    <% if (data.prefLabel[0]) { %>

      var classmarkPrefLabel = "<%=data.prefLabel[0]%>"; 

    <% } %>

  <% } %>


  </script>

</head>

<body>

  <% include ../partials/nav_about.ejs %>
  

  <div class="classmark-page-hero">
    <div class="container">
      <div class="row">
        <div class="ten columns classmark-page-hero-header">
            <h1><%=data.hiddenLabel.join(",")%></h1>
            <h3><%=data.prefLabel.join(",")%></h3>
        </div>
      </div>
    </div>
  </div>


  <% if (data.inScheme.indexOf('http://billi.nypl.org/classification/billings')>-1){ %>

    <div class="container">
      <div class="row">
        <div class="twleve columns"> 
          <a target="_blank" href="http://catalog.nypl.org/search~S1/?searchtype=c&searcharg=<%=data.hiddenLabel[0]%>&searchscope=1&sortdropdown=-&SORT=D&extended=1&SUBMIT=Search&searchlimits=&searchorigarg=c<%=data.hiddenLabel[0]%>">
            <div class="classmark-page-view-in-catalog">View in the catalog</div>  
          </a>      
        </div>
      </div>
    </div>



  <% } %>

  <div class="classmark-page-padding-before-fields"></div>


  <% if (data.holdingsCount){ %>
    <div class="container">
      <div class="row">
        <div class="two columns">         
          <span class="eyebrow"></span>
          <span class="eyebrow-text">Holdings Count</span>
        </div>
        <div class="ten columns classmark-page-content-column">
                   
                    <% var holdingsCount = parseInt(data.holdingsCount)%>

                    <% include ../partials/holdings_display.ejs%>
        </div>
      </div>
    </div>
  <% } %>


  <% if (data.note.length>0){ %>
    <div class="container">
      <div class="row">
        <div class="two columns">         
          <span class="eyebrow"></span>
          <span class="eyebrow-text">Note</span>
        </div>
        <div class="ten columns classmark-page-content-column">
                  <p>
                    
                    <%=data.note.join(",")%>

                  </p>
        </div>
      </div>
    </div>
  <% } %>

  <% if (data.broader.length>0){ %>
    <div class="container">
      <div class="row">
        <div class="two columns">         
          <span class="eyebrow"></span>
          <span class="eyebrow-text">Broader Classmarks</span>
        </div>
        <div class="ten columns classmark-page-content-column">
               

          <% for (var x in data.broaderHierarchy){ %>
            <% if (x > 0){ %>
              <div class="search-result-item-level" style="padding-left:<%=x*3%>%"><a href="/classmark/<%=data.broaderHierarchy[x].hiddenLabel%>"><%=data.broaderHierarchy[x].prefLabel%></a></div>
            <% }else{ %>
              <div class="search-result-item-level-first" style="padding-left:<%=x*3%>%"><a href="/classmark/<%=data.broaderHierarchy[x].hiddenLabel%>"><%=data.broaderHierarchy[x].prefLabel%></a></div>
            <% } %>
          <% } %>

          <div class="search-result-item-level" style="padding-left:<%=data.broaderHierarchy.length*3%>%"><%=data.prefLabel.join(",")%></div>



        </div>
      </div>
    </div>
  <% } %>

  <% if (data.narrower.length>0){ %>
    <div class="container">
      <div class="row">
        <div class="two columns">         
          <span class="eyebrow"></span>
          <span class="eyebrow-text">Narrower Classmarks</span>
        </div>
        <div class="ten columns classmark-page-content-column">
          <table class="u-full-width">
            <tbody>
            <% for (var x in data.narrower){ %>             
                <tr class="classmark-page-alt-row">                  
                    <td><a href="/classmark/<%=data.narrower[x].classmarkUrlSafe%>"><%=data.narrower[x].classmark%></a></td>
                    <td><a href="/classmark/<%=data.narrower[x].classmarkUrlSafe%>"><%=data.narrower[x].prefLabel%></a></td>                  
                </tr>            
            <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% } %>

  <% if (data.related.length>0){ %>
    <div class="container">
      <div class="row">
        <div class="two columns">         
          <span class="eyebrow"></span>
          <span class="eyebrow-text">Related Classmarks</span>
        </div>
        <div class="ten columns classmark-page-content-column">
          <table class="u-full-width">
            <tbody>
            <% for (var x in data.related){ %>             
                <tr class="classmark-page-alt-row">                  
                    <td><a href="/classmark/<%=data.related[x].classmarkUrlSafe%>"><%=data.related[x].classmark%></a></td>
                    <td><a href="/classmark/<%=data.related[x].classmarkUrlSafe%>"><%=data.related[x].prefLabel%></a></td>                  
                </tr>            
            <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% } %>

  <% if (data.mappingDdc.length>0 || data.mappingLcc.length>0 || data.mappingLccRange.length>0){ %>
    <div class="container">
      <div class="row">
        <div class="two columns">         
          <span class="eyebrow"></span>
          <span class="eyebrow-text">Mappings</span>
        </div>
        <div class="ten columns classmark-page-content-column">
          <table class="u-full-width">
            <tbody>



            <% for (var x in data.mappingLcc){ %>             
                <tr class="classmark-page-alt-row">                  
                    <td>Library of Congresss LCC</td>
                    <td><%=data.mappingLcc[x]%></td>                  
                </tr>            
            <% } %>

            <% for (var x in data.mappingLccRange){ %>             
                <tr class="classmark-page-alt-row">              


                    <% if (data.inScheme.indexOf('http://billi.nypl.org/classification/billings')>-1){ %>
                      <td>Library of Congresss LCC Range</td>
                    <% } %>
                    <% if (data.inScheme.indexOf('http://billi.nypl.org/classification/lccrange')>-1){ %>
                      <td>Related Billings</td>
                    <% } %>

                   
                    <td><a href="/classmark/<%=data.mappingLccRange[x].classmark%>"><%=data.mappingLccRange[x].prefLabel%></a></td>                  
                </tr>            
            <% } %>


            <% for (var x in data.mappingDdc){ %>             
                <tr class="classmark-page-alt-row">                  
                    <td>Dewey Decimal</td>
                    <td><%=data.mappingDdc[x]%></td>                  
                </tr>            
            <% } %>



            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% } %>



  <% if (user){ %>

    <div class="container">
      <div class="row">
        <div class="two columns">         
          <span class="eyebrow"></span>
          <span class="eyebrow-text">Connect To Wikipedia</span>

          <div class="experimental">Experimental</div>
        </div>
        <div class="ten columns classmark-page-content-column">

          <div id="wikipedia-connect-header" class="wikipedia-connect-row classmark-page-alt-row">Connecting to WikiData...</div>
          <div id="wikipedia-connect-search">
            <input class="u-full-width" placeholder="Or, search Wikidata using your own terms." id="search-input" type="search">
          </div>

          <table class="u-full-width" id="wikipedia-connect-list-has-description">


          </table>


          <table class="u-full-width" id="wikipedia-connect-list-no-description">

          </table>        
        </div>
      </div>
    </div>

  <% } %>



  <% if (parseInt(data.holdingsCount)>0){ %>
    <div class="container">
      <div class="row">
        <div class="two columns">         
          <span class="eyebrow"></span>
          <span class="eyebrow-text">Sample Resources</span>

          <div class="experimental">Experimental</div>
        </div>
        <div class="ten columns classmark-page-content-column">
          <table class="u-full-width" id="sample-resources">
            <tbody>


              <tr>
                <td>Loading Sample Resources</td>
                <td></td>

              </tr>

            <script>


              document.addEventListener("DOMContentLoaded", function() {

                <% if (data.inScheme.indexOf('http://billi.nypl.org/classification/billings')>-1){ %>
                  window.billi.findClassmarks("<%=data.hiddenLabel[0]%>");
                <% } %>
                <% if (data.inScheme.indexOf('http://billi.nypl.org/classification/lccrange')>-1){ %>
                  window.billi.findLccRange("<%=data.hiddenLabel[0]%>");
                <% } %>
              });


            </script>



            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% } %>


  <hr>


  <div class="container">
    <div class="row">
      <div class="two columns">         
        <span class="eyebrow"></span>
        <span class="eyebrow-text">Linked Data</span>
      </div>
      <div class="ten columns classmark-page-content-column">
          <table class="u-full-width">
            <tbody>
              <tr class="classmark-page-alt-row">                  
                  <td>rdf:type</td>
                  <td><% if (data.type[0]){%><a href="<%=data.type[0]%>"><%=data.type[0]%></a><%}%></td>                  
              </tr>            
              <tr class="classmark-page-alt-row">                  
                  <td>skos:inScheme</td>
                  <td><% if (data.inScheme[0]){%><a href="<%=data.inScheme[0]%>"><%=data.inScheme[0]%></a><%}%></td>                  
              </tr>    

              <tr class="classmark-page-alt-row">                  
                  <td>JSON-LD</td>
                  <td><a href="json">View As JSON-LD</a></td>                  
              </tr>   
              <tr class="classmark-page-alt-row">                  
                  <td>Turtle</td>
                  <td><a href="turtle">View As Turtle</a></td>                  
              </tr>   
              <tr class="classmark-page-alt-row">                  
                  <td>N-Triples</td>
                  <td><a href="nt">View As N-Triples</a></td>                  
              </tr>  
            </tbody>
          </table>
      </div>
    </div>
  </div>


  <% if (data.changenote.length>0){ %>
    <div class="container">
      <div class="row">
        <div class="two columns">         
          <span class="eyebrow"></span>
          <span class="eyebrow-text">Change Log</span>
        </div>
        <div class="ten columns classmark-page-content-column">
          <table class="u-full-width">
            <tbody>
            <% for (var x in data.changenote){ %>             
                <tr class="classmark-page-alt-row">                  
                    <td><%=data.changenote[x]%></td>                  
                </tr>            
            <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% } %>



<script id="sample-resources-template" type="text/template">


  <# _.each(items,function(item,key,list){ #>

    <tr class="classmark-page-alt-row">
      <td><#=item.attributes['publish-year']#></td>
      <td class="sample-resources-title"><a target="_blank" href="http://catalog.nypl.org/record=b<#=item.id#>"><#=item.attributes.title#></a></td>
    
    </tr>
  <# }); #>
  

  <# if (items.length==0){ #>
    <div class="search-result-item">
      No Results
    </div>
  <# } #>

</script>



<script id="wikipedia-connect-template" type="text/template">


    <tr class="wikipedia-connect-row">
      <td><#=item.label#></td>
      <td class="sample-resources-title"><a target="_blank" href="<#=item.url#>"><#=(item.description) ? item.description : item.title #></a></td>
    </tr>
  

</script>



</body>
</html>
