<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav_about.ejs %>
  

  <div class="classmark-page-hero">
    <div class="container">
      <div class="row">
        <div class="ten columns classmark-page-hero-header">
            <h1><%=data.hiddenLabel.join(",")%></h1>
            <h3><%=data.prefLabel.join(",")%></h3>
        </div>
      </div>
    </div>
  </div>


  <% if (data.inScheme.indexOf('http://billi.nypl.org/classification/billings')>-1){ %>

    <div class="container">
      <div class="row">
        <div class="twleve columns"> 
          <div class="classmark-page-view-in-catalog"><a target="_blank" href="http://catalog.nypl.org/search~S1/?searchtype=c&searcharg=<%=data.hiddenLabel[0]%>&searchscope=1&sortdropdown=-&SORT=D&extended=1&SUBMIT=Search&searchlimits=&searchorigarg=c<%=data.hiddenLabel[0]%>">View in the catalog</a></div>        
        </div>
      </div>
    </div>



  <% } %>

  <% if (data.note.length>0){ %>
    <div class="container">
      <div class="row">
        <div class="two columns">         
          <span class="eyebrow"></span>
          <span class="eyebrow-text">Note</span>
        </div>
        <div class="ten columns classmark-page-content-column">
                  <p>
                    
                    <%=data.note.join(",")%>

                  </p>
        </div>
      </div>
    </div>
  <% } %>

  <% if (data.broader.length>0){ %>
    <div class="container">
      <div class="row">
        <div class="two columns">         
          <span class="eyebrow"></span>
          <span class="eyebrow-text">Broader Classmarks</span>
        </div>
        <div class="ten columns classmark-page-content-column">
               

          <% for (var x in data.broaderHierarchy){ %>
            <% if (x > 0){ %>
              <div class="search-result-item-level" style="padding-left:<%=x*3%>%"><a href="/classmark/<%=data.broaderHierarchy[x].hiddenLabel%>"><%=data.broaderHierarchy[x].prefLabel%></a></div>
            <% }else{ %>
              <div class="search-result-item-level-first" style="padding-left:<%=x*3%>%"><a href="/classmark/<%=data.broaderHierarchy[x].hiddenLabel%>"><%=data.broaderHierarchy[x].prefLabel%></a></div>
            <% } %>
          <% } %>

          <div class="search-result-item-level" style="padding-left:<%=data.broaderHierarchy.length*3%>%"><%=data.prefLabel.join(",")%></div>



        </div>
      </div>
    </div>
  <% } %>

  <% if (data.narrower.length>0){ %>
    <div class="container">
      <div class="row">
        <div class="two columns">         
          <span class="eyebrow"></span>
          <span class="eyebrow-text">Narrower Classmarks</span>
        </div>
        <div class="ten columns classmark-page-content-column">
          <table class="u-full-width">
            <tbody>
            <% for (var x in data.narrower){ %>             
                <tr class="classmark-page-alt-row">                  
                    <td><a href="/classmark/<%=data.narrower[x].classmark%>"><%=data.narrower[x].classmark%></a></td>
                    <td><a href="/classmark/<%=data.narrower[x].classmark%>"><%=data.narrower[x].prefLabel%></a></td>                  
                </tr>            
            <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% } %>

  <% if (data.related.length>0){ %>
    <div class="container">
      <div class="row">
        <div class="two columns">         
          <span class="eyebrow"></span>
          <span class="eyebrow-text">Related Classmarks</span>
        </div>
        <div class="ten columns classmark-page-content-column">
          <table class="u-full-width">
            <tbody>
            <% for (var x in data.related){ %>             
                <tr class="classmark-page-alt-row">                  
                    <td><a href="/classmark/<%=data.related[x].classmark%>"><%=data.related[x].classmark%></a></td>
                    <td><a href="/classmark/<%=data.related[x].classmark%>"><%=data.related[x].prefLabel%></a></td>                  
                </tr>            
            <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% } %>


  <div class="container">
    <div class="row">
      <div class="two columns">         
        <span class="eyebrow"></span>
        <span class="eyebrow-text">Linked Data</span>
      </div>
      <div class="ten columns classmark-page-content-column">
          <table class="u-full-width">
            <tbody>
              <tr class="classmark-page-alt-row">                  
                  <td>rdf:type</td>
                  <td><% if (data.type[0]){%><a href="<%=data.type[0]%>"><%=data.type[0]%></a><%}%></td>                  
              </tr>            
              <tr class="classmark-page-alt-row">                  
                  <td>skos:inScheme</td>
                  <td><% if (data.inScheme[0]){%><a href="<%=data.inScheme[0]%>"><%=data.inScheme[0]%></a><%}%></td>                  
              </tr>    

              <tr class="classmark-page-alt-row">                  
                  <td>JSON-LD</td>
                  <td><a href="json">View As JSON-LD</a></td>                  
              </tr>   
              <tr class="classmark-page-alt-row">                  
                  <td>Trutle</td>
                  <td><a href="turtle">View As Turtle</a></td>                  
              </tr>   
              <tr class="classmark-page-alt-row">                  
                  <td>N-Triples</td>
                  <td><a href="nt">View As N-Triples</a></td>                  
              </tr>  
            </tbody>
          </table>
      </div>
    </div>
  </div>


  <% if (data.changenote.length>0){ %>
    <div class="container">
      <div class="row">
        <div class="two columns">         
          <span class="eyebrow"></span>
          <span class="eyebrow-text">Change Log</span>
        </div>
        <div class="ten columns classmark-page-content-column">
          <table class="u-full-width">
            <tbody>
            <% for (var x in data.changenote){ %>             
                <tr class="classmark-page-alt-row">                  
                    <td><%=data.changenote[x]%></td>                  
                </tr>            
            <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% } %>



<script id="search-results-template" type="text/template">


</script>

</body>
</html>
